@model ProyectoComunidadesRelativo.Models.Community

@{
	ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-md-4">
		<h1 style="text-align: center;">Edit this Community</h1>
		<div class="contenedor-registro">	
			<div class="registration-card">
				
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Id" />
					<div class="form-group">
						<label asp-for="Tittle" class="control-label"></label>
						<input asp-for="Tittle" class="form-control" />
						<span asp-validation-for="Tittle" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Theme" class="control-label"></label>
						<input asp-for="Theme" class="form-control" />
						<span asp-validation-for="Theme" class="text-danger"></span>
					</div>
					<div class="form-group" style="margin-top: 10px">
						<input style="background-color: #d58936; border-color: #d58936; color: #ffffff;" type="submit" value="Save" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

