@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">

    <h1 class="display-4">ProyectoComunidades</h1>

    <div class="button-container">

        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">
            <button class="custom-button">Register</button>
        </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">
            <button class="custom-button">Login</button>
        </a>

    </div>

</div>

