@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">

    <h1 class="display-4">ProyectoComunidades</h1>

    <div class="button-container">

        <h1>JOIN COMMUNITY</h1>

    </div>

</div>

