@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">

    <h1 style="margin-bottom: 40px;" class="display-4">User Menu</h1>

    <div class="container">

        <div class="row justify-content-center">

            <div style="margin: 10px;" class="col-md-5 mb-3">
                <a style="min-height: 200px; min-width: 300px; padding: 25px;" class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Users" asp-action="CreateCommunity">
                    <i style="font-size: 100px; padding: 5px;" class="fas fa-plus-circle mr-2"></i>
                    <h3>Create a Community</h3>
                </a>
            </div>

            <div style="margin: 10px;" class="col-md-5 mb-3">
                <a style="min-height: 200px; min-width: 300px; padding: 25px;" class="btn btn-success btn-lg btn-block" asp-area="" asp-controller="Users" asp-action="JoinCommunity">
                    <i style="font-size: 100px; padding: 5px;" class="fas fa-sign-in-alt mr-2"></i>
                    <h3>Join a Community</h3>
                </a>
            </div>

        </div>

    </div>

</div>
