@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center" style="padding: 50px;">

    <h1 style="margin-bottom: 40px; color: #69140e;" class="display-4">User Menu</h1>

    <div class="container">

        <div class="row justify-content-center">

            <div style="margin: 10px;" class="col-md-5 mb-3">
                <a style="min-height: 200px; min-width: 300px; padding: 25px; background-color: #9b6544;" class="btn btn-lg btn-block" asp-area="" asp-controller="Communities" asp-action="CreateCommunity">
                    <i style="font-size: 100px; padding: 5px; color: #ffffff;" class="fas fa-plus-circle mr-2"></i>
                    <h3 style="color: #ffffff;">Create a Community</h3>
                </a>
            </div>

            <div style="margin: 10px;" class="col-md-5 mb-3">
                <a style="min-height: 200px; min-width: 300px; padding: 25px; background-color: #d58936;" class="btn btn-lg btn-block" asp-area="" asp-controller="Communities" asp-action="JoinCommunity">
                    <i style="font-size: 100px; padding: 5px; color: #ffffff;" class="fas fa-sign-in-alt mr-2"></i>
                    <h3 style="color: #ffffff;">Join a Community</h3>
                </a>
            </div>

        </div>

    </div>

</div>

